---
layout: default
---

<div class="row">
	<div class="col-sm-8">
		{{ content }}
	</div>
	<div class="col-sm-4">
		<div class="btn-group btn-group-justified">
			<div class="btn-group">
				<a class="btn btn-default" href="https://itunes.apple.com/us/podcast/the-second-page/id597315172?mt=2"><i class="fa fa-fw fa-music"></i> iTunes</a>
			</div>
			<div class="btn-group">
				<a class="btn btn-default" href="http://facebook.com/secondpagestories"><i class="fa fa-fw fa-facebook"></i> Facebook</a>
			</div>
			<div class="btn-group">
				<a class="btn btn-default" href="http://twitter.com/thesecondpage"><i class="fa fa-fw fa-twitter"></i> Twitter</a>
			</div>
		</div>
		<hr />
		<div class="margin-trailer">
			<a href="{{ site.baseurl }}/podcast.xml" class="btn btn-default btn-sm pull-right"><i class="fa fa-fw fa-rss"></i> RSS</a>
			<h2>All Episodes</h2>
			{% for episode in site.categories.episodes %}
				<hr />
				<h4><a href="{{ site.baseurl }}{{ episode.url }}">Episode {{ episode.episode_number }}: {{ episode.title }}</a> <small>{{ episode.date | date_to_string }}</small></h4>
				<p>
					{% if episode.audio %}
						<a href="{{ site.baseurl }}{{ episode.url }}?autoplay=1" class="btn btn-default btn-xs"><i class="fa fa-headphones"></i> Listen</a>
						<a href="{{ site.media_url }}/episodes/{{ episode.audio }}" class="btn btn-default btn-xs"><i class="fa fa-download"></i> Download</a>
					{% endif %}
					<a href="{{ site.baseurl }}{{ episode.url }}#disqus_thread" class="btn btn-default btn-xs"><i class="fa fa-comment"></i> Comments <span class="muted"></span></a>
				</p>
			{% endfor %}
		</div>
	</div>
</div>
