---
layout: default
---

<div class="row-fluid">
	<div class="span8">
		{{ content }}
	</div>
	<div class="span4">
		<div class="margin-trailer">
			<div class="btn-group pull-right">
				<a href="https://itunes.apple.com/us/podcast/the-second-page/id597315172?mt=2" class="btn btn-small"><i class="icon-music"></i> iTunes</a>
				<a href="{{ site.baseurl }}/podcast.xml" class="btn btn-small"><i class="icon-rss"></i> RSS</a>
			</div>
			<h2>Episodes</h2>
			{% for episode in site.categories.episodes %}
				<hr />
				<h4><a href="{{ site.baseurl }}{{ episode.url }}">Episode {{ episode.episode_number }}: {{ episode.title }}</a> <small>{{ episode.date | date_to_string }}</small></h4>
				<p>
					{% if episode.audio %}
						<a href="{{ site.baseurl }}{{ episode.url }}#AudioPlayer" class="btn btn-mini"><i class="icon-headphones"></i> Listen</a>
						<a href="{{ site.baseurl }}{{ episode.url }}" class="btn btn-mini"><i class="icon-download"></i> Download</a>
					{% endif %}
					<a href="{{ site.baseurl }}{{ episode.url }}#disqus_thread" class="btn btn-mini"><i class="icon-comment"></i> Comments <span class="muted"></span></a>
				</p>
			{% endfor %}
		</div>
	</div>
</div>